.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-container{
  display: flex;
  justify-content: space-between;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 20px;
}
.map-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
}
.stats-content{
  display: flex;
}
.nextDays-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: end;
}

.weather_section {
  display: flex;
  gap: 20px;
}
