@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primeiro-azul-claro: #5fb4f3;
  --segundo-azul-claro: #2c79c1;
  --primeiro-azul-escuro: #0c43ab;
  --segundo-azul-escuro: #0a2e69;
  --primeiro-cinza: #5D6572;
  --segundo-cinza: #A1ADC3;
  --sombra: 0 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  margin: auto;
  height: 100vh;
  width: 90%;
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
