@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "leaflet/dist/leaflet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primeiro-azul-claro: rgb(95, 180, 243, 0.5);
  --segundo-azul-claro: rgb(44, 121, 193, 0.5);
  --primeiro-azul-escuro: rgb(12, 67, 171, 0.5);
  --segundo-azul-escuro: rgb(10, 46, 105, 0.5);
  --primeiro-cinza: rgb(93, 101, 114, 0.5);
  --segundo-cinza: rgb(161, 173, 195, 0.5);
  --sombra: 0 4px 4px rgba(0, 0, 0, 0.25);
}
body {
  margin: auto;
  height: 100vh;
  width: 90%;
  font-family: "Poppins", sans-serif;
  background: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  transition: background 0.2s ease-in-out;
}
.dark-mode{
  background: url(/assets/images/background-dark.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}